<p id="notice"><%= notice %></p>
<%= link_to 'Reviews', admin_reviews_path %>
<%= link_to 'Reservations', admin_reservations_path %>
<h1>Rooms</h1>

<table>
  <thead>
  <tr>

    <th>Number</th>
    <th>Created at</th>
    <th>Updated at</th>

  </tr>
  </thead>

  <tbody>
  <% @admin_rooms.each do |room| %>
    <tr>

      <td><%= room.number %></td>
      <td><%= room.created_at %></td>
      <td><%= room.updated_at %></td>


        <td><%= link_to 'Edit', edit_admin_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_admin_room_path %>
