<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @admin_room.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_room.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @admin_room.image %>
</p>

<%= link_to 'Edit', edit_admin_room_path(@admin_room) %> |
<%= link_to 'Back', admin_rooms_path %>
