<p id="notice"><%= notice %></p>
<%= link_to 'Reviews', reviews_path %>
<%= link_to 'Home page', root_path %>
<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Number</th>
      <th>Description</th>
      <th>Price</th>

    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td> <%= link_to(image_tag(room.attachments[0].thumb.url, alt: 'Image'),
                         room.attachments[0].url,
                         target: '_blank') if room.attachments? %>  </td>
        <td><%= link_to room.number, room%></td>
        <td><%= truncate(room.description, length: 30) %></td>
        <td><%= room.price %></td>

        <td ><%= link_to "Book", room%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


