<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @review.author %>
</p>

<p>
  <strong>Email:</strong>
  <%= @review.email %>
</p>

<p>
  <strong>Review body:</strong>
  <%= @review.review_body %>
</p>


<%= link_to 'Back', reviews_path %>
